<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Node World - <%= title %></title>

  <!-- CSS (load bootstrap from a CDN) -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <style>
  body    { padding-top:50px; }
  </style>

</head>
<body class="container">

  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <p><%= title %></p>
    <div class="data_out">
      <table class="table">
        <tr>
          <th>Name</th>
          <th>Country Code</th>
          <th>District</th>
          <th>Population</th>
        </tr>
        <% data.forEach(function(city){ %>
          <tr>
            <td><%= city.Name %></td>
            <td><%= city.CountryCode %></td>
            <td><%= city.District %></td>
            <td><%= city.Population %></td>
          </tr>
          <% }); %>
        </table>
      </div>

    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>

  </body>
  </html>
